/* ===== Contact Section ===== */
.contact-section {
  padding-top: 70px ;
  padding-bottom: 140px;
  background-color: #f6f4ea;
}

/* Left info box */
.contact-info {
  background-color: #c2b095;
  padding: 40px 30px;
  padding-left: 50px;
  border-radius: 20px;
  color: white;
}

.contact-info h4 {
  margin-bottom: 30px;
}

.contact-info p {
  margin-bottom: 16px;
  font-size: 0.95rem;
}

/* Right form */
.contact-form {
  background-color: #e3dbd1;
  padding: 50px;
  border-radius: 20px;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h1, h2, h3 {
  font-family: 'PlayFair', sans-serif;
  font-weight: 700;
}

p {
   font-family: 'Poppins', sans-serif;
  font-weight: 400;
}




.contact-form .desc {
  font-size: 0.95rem;
  margin-bottom: 30px;
  color: #333;
}

/* Form */
.form-label {
  font-weight: 500;
}

.form-control {
  border-radius: 4px;
  border: none;
  padding: 10px;
}

/* Button */
.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #7f8f86;
  color: white;
  font-size: 0.95rem;
}










/* ===== Responsive ===== */
@media (max-width: 768px) {
  .contact-form {
    padding: 30px;
  }

  .contact-info {
    text-align: start;
  }
  .contact-section {
    padding-top: 40;
    padding-bottom: 80;
    
    
  }
}
